body {
  background-image: url('../img/background.png');
  background-size: contain
  background-position: center;
}


body{
	background-color: #fcfaf3;
}
nav{
background-color: #fcfaf3;
}
.my-navbar {
  background-color: #0082c9;
}
.custom-text-color{
	color: #ff9900;
}
.img-fluid {
	align-content: left;
}
.transparent {
	opacity: 0.4;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  opacity: 0.6;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 29px;
  font-weight: bold;
  text-align: center;
  font-family: Angsana New;
}
.navbar-brand {
  font-size: 1.8rem;

.apps {
  font-size: 1.8rem;

  }
}
.videotutorials {
	text-align: center;
	font-family: Angsana New;
}
.simple-article-card {
  max-width: 350px;
  border: 4px solid #aaa;
  padding: 15px;
  border-radius: 8px;
  font-family: Angsana New;
  background-color: #f7c9df;
  border-color: #e66cc0;
  margin: 20px auto;
}

.simple-article-card a {
  color: black;
  text-decoration: none;
}

.simple-article-card a:hover {
  text-decoration: underline;
}
.read-more {
  color: #ff9900; 
  font-weight: bold;
  cursor: pointer}
  .col {
    color: ##f4addd;
  }
  h1 {
    font-size: 60px;
    font-family: Angsana New;
  }
  h5 {
    font-family: Angsana New;
  }
  .orange {
    background-color: #ffcc66;
  }
  .pink {
    background-color: #f7c9df;
  }
  .card:hover {
      transform: scale(1.07);
      transition: transform 0.2s;
    }
    .chat {
      height: 225px;
    }
    .articles {
      height: 195px;
    }